*{
  margin:15px;
  padding:10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(65, 153, 204);
  text-align: center;
  padding-top:5%;
}
h1{
  border-radius: 20px;
  background-color: pink;
  /* padding-bottom: 40px; */
  padding:20px 20px;
}
span{
  background-color: pink;
  border-radius: 20px;
  align-items: center;
  padding:20px 10px;
 
  /* padding-bottom: 40px; */
}